.login-button {
  width: 300px;
  height: 50px;
  margin: 5px;
  background-color:#BBE6E4;
}

.curPosition-button {
  width:30px;
  height: 30px;
  background-image: url('../../images/curPosition_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position : absolute;
  left :-40px;
  top : 250px;
}

.exit-button{
  width: 30px;
  height: 30px;
  position: absolute;
  right:20px;
  top:20px;
}

.MoveHomepageButton-wrapper{
  height: 100%;
  border-radius: 10px;
  margin-top:20px;

  .MoveHomepageButton-false{
    width: 100%;
    height: 100%;
    background-color: rgb(93, 93, 92);
    color:white;
    font-size: 20px;
    border-radius: 10px;
  }
  .MoveHomepageButton-true{
    width: 100%;
    height: 100%;
    background-color: green;
    color:white;
    font-size: 20px;
    border-radius: 10px;
  }
}