.JobPosting-wrapper{
  box-shadow: 5px 5px 20px;
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}