.PostingBoxModal-wrapper{
  width: 800px;
  height: 1000px;
  position: absolute;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.132);
  border-radius: 20px;
  background-color: white;
  z-index: 10;
  padding:20px;
  opacity: 0;
  
  &.active{
    opacity: 1;
  }

  .PostingBoxModal-info-wrapper{
    margin-top:20px;
    .PostingBoxModal-info-company{
      font-size:20px;
      font-weight: bold;
    }
    .PostingBoxModal-info-title{
      margin-top:20px;
      height: auto;
      max-height: 400px;
      font-size:30px;
      font-weight: bold;
    }

    .PostingBoxModal-info-date{
      margin-top:10px;
    }

    .PostingBoxModal-info-count{
      display:flex;
      background-color: rgb(227, 227, 227);
      height: 50px;
      align-items: center;
      font-size:20px;
      text-align: center;
      border-radius: 10px;
      margin-top:20px;

      .PostingBoxModal-info-retrieve{
        flex: 1;
        border-right: 2px solid rgb(174, 173, 173);
        justify-content: center;
      }
      .PostingBoxModal-info-visit{
        flex: 1;
      }
    }

    .PostingBoxModal-info-table{
      margin-top:20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      font-size:20px;
      border: 1px solid rgb(174, 173, 173);
      .PostingBoxModal-info-table-inner{
        display: flex;
        height: 70px;
        width: 100%;
        .PostingBoxModal-info-table-col{
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          &.right{
            border-right: 1px solid rgb(174, 173, 173);
          }
          
          .PostingBoxModal-info-table-row{
            display: flex;
            .PostingBoxModal-info-table-left{
              width: 100px;
              margin-left:20px;
              
            }
            .PostingBoxModal-info-table-right{

            }
          }
        }
      }
      
    }
  }
  // 참고사항
  .PostingBoxModal-notes{
    display:flex;
    flex-direction: column;
    margin-top:20px;
    .PostingBoxModal-notes-title{
      font-size:25px;
      font-weight: bold;
    }
    .PostingBoxModal-notes-content-wrapper{
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      background-color: rgb(174, 173, 173);
      margin-top:10px;
      border-radius: 10px;
      .PostingBoxModal-notes-content{
        padding-left: 20px;
        font-size: 18px;
      }
    }
  }

  // 네이버 지도
  .PostingBoxModal-map-wrapper{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    
    .PostingBoxModal-map-title{
      font-size:25px;
      font-weight: bold;
    }

    // 경로 정보
    .PostingBoxModal-route-wrapper{
      height: 400px;
      display: flex;
      margin-top:10px;
      border-radius: 10px;
      border : 2px solid rgb(174, 173, 173);
      overflow:hidden;
      .PostingBoxModal-map{
        flex:7
      }
      .PostingBoxModal-route-info{
        flex:3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .PostingBoxModal-route-info-time-duration{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .PostingBoxModal-route-info-duration{
            font-size:40px;
            font-weight: bold;
            .time{
              font-size:20px;
              font-weight:normal;
            }
          }
          .PostingBoxModal-route-info-dist{
            margin-top: 10px;
            font-size: 20px;
            font-weight:1000;
          }
        }
        

        .PostingBoxModal-route-info-cost-wrapper{
          margin-top:50px;
          .PostingBoxModal-route-info-cost{
            margin-top:10px;
            font-size:18px;
            font-weight:550;
          }
        }
      }
    }
  }
  .PostingBoxModal-Button-wrapper{
    height: 50px;
  }
}