.main-wrapper{
  @include fullScreen;

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-map-and-resume{
      width: 1200px;
      height: 300px;
      // margin: 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 40px;
      margin: 25px;
    }

    .section-custom-job-posting{
      width: 1200px;
      margin: 30px 0;
      .job-posting-group-row{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      .loading-wrapper{
        text-align: center;
        margin: auto;
      }
    }

    .section-all-job-posting{
      width: 1200px;
      
      overflow : scroll;
      margin: 30px 0;
      justify-content: center;

      .all-job-posting-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height : 800px;
        overflow : scroll;
        align-content: flex-start;
        width: 100%;
        
      }
    }
  }
}