// screen
$breakpoint-desktop: 1024px;

// header
$header-size: 100px;
$mobile-header-size: 70px;

// footer size
$footer-size: 180px;

$wrap-color: white;
$container-color: white;
$header-color: white;
$footer-color: rgb(96, 95, 95);